//=========================================
//                 BASICS
//=========================================
body {
    height: auto;
    min-height: 100%;
    position: relative; // for footer tag
    background-color: $main-colour-light;
    font-family: $sans-serif;

    p, table, label, input {
        font-weight: 300;
        line-height: 1.8;

        @include md {
            font-size: 1.2rem;
        }
    }
}

