    </main>
</div><!-- .contents end -->

<!-- footer -->
<footer>
    <div class="footer-container">
        <ul class="nav-link-list">
            <li class="nav-link"><a href="/index.html">Home</a></li>
            <li class="nav-link"><a href="/about-osaka.html">About Osaka</a></li>
            <li class="nav-link"><a href="/where-to-visit.html">Where to Visit</a></li>
            <li class="nav-link"><a href="/traditional-events.html">Traditional Events</a></li>
            <li class="nav-link"><a href="/contact.html">Contact</a></li>
            <li class="nav-link email-link"><a href="mailto:sample@osakacity.com">Send and Email for Enquiries</a></li>
        </ul>
        <div class="logo">
            <img class="logo-image" src="<%= path %>/asset/logo/logo.svg" alt="Osaka Tourism Website Logo">
        </div>
    </div>
</footer>
<script src="<%= path %>/library/js/navigation.js"></script>
</body>
</html>