<% title = 'Osaka'; %>
<% description = 'A never-ending maze to visitors'; %>
<% path = '..'; %>
<% uniqueCss = 'index' %>

<%- include('_common/header') %>

        </div><!-- .header-section end -->

        <div id="slideshow" onload="StartSlider()">
            <div class="slide-1 slide"></div>
            <div class="slide-2 slide"></div>
            <div class="slide-3 slide"></div>
            <div class="slide-4 slide"></div>
            <div class="slide-5 slide"></div>
        </div>

    </main>
</div><!-- .contents end -->

<script src="<%= path %>/library/js/navigation.js"></script>
<script src="<%= path %>/library/js/jquery-3.6.0.min.js"></script>
<script src="<%= path %>/library/js/slideshow.js"></script>
</body>
</html>
