<% title = 'Ishikiri-Tsurugiya Shrine　Spring Festival'; %>
<% description = "Held in the spring in cherry blossom season, thanking the god for his daily blessings. An ancient archery ritual is dedicated to this."; %>
<% path = '..'; %>
<% uniqueCss = 'article-common' %>

<%- include('_common/header') %>

            <div class="thumbnail image-event-1"></div>
        </div><!-- .header-section end -->

        <article>
            <section class="parent-section">
                <p>
                    Held on April 15 and 16 in the cherry blossom season, a thanksgiving festival for divine blessings 
                    and an ancient archery ritual are held ,gathering worshippers. The ancient archery ritual is connected 
                    with the honorific title of the shrine” Tsurugi (sword) ya (arrow)”, and held on the second day of the 
                    annual spring festival. After the ritual is held in the Sanctuary, a solemn ritual is held in the archery 
                    field attracting lots of worshippers.
                </p>
                <table>
                    <tbody>
                    <tr>
                        <th>NAME</th>
                        <td>Ishikiri-Tsurugiya Shrine</td>
                    </tr>
                    <tr>
                        <th>LOCATION</th>
                        <td>1-1-1 Higashiishikiricho, Higashiosaka-shi, Osaka, 579-8011
                        </td>
                    </tr>
                    <tr>
                        <th>DIRECTIONS</th>
                        <td>- 15-minute walk from Ishikiri Station on the Kintetsu Nara Line
                            <br>
                            - 7-minute walk from Shin-Ishikiri Station on the Kintetsu Higashi Osaka Line</td>
                    </tr>
                    <tr>
                        <th>HIGHLIGHT</th>
                        <td>April 15 11:00 Annual Festival
                            <br>
                            April 16 11:00 Ancient archery dedication announcement festival, ancient archery dedication
                            <br>
                            * The Hall of Treasury is opened to public from 9:00 a.m. on both days.</td>
                    </tr>
                    <tr>
                        <th>CONTACT</th>
                        <td>Ishikiri-Tsurugiya Shrine
                        </td>
                    </tr>
                    <tr>
                        <th>Tel</th>
                        <td>072-982-3621</td>
                    </tr>
                    <tr>
                        <th>GENERAL PARTICIPATION</th>
                        <td>All worshippers could see the ancient archery ritual in the archery field held on April 16.</td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td>
                            <a href="https://www.ishikiri.or.jp/">https://www.ishikiri.or.jp/</a></td>
                    </tr>
                    </tbody>
                </table>
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3280.912927045471!2d135.646403!3d34.682147!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDQwJzU1LjciTiAxMzXCsDM4JzQ3LjEiRQ!5e0!3m2!1sen!2sus!4v1622669126841!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </section>
    </article>

<%- include('_common/footer') %>

