<% title = 'Traditional Events'; %>
<% description = "It is often said that the events in Osaka mark the passage of time through the year like a clock. Regardless of the month people visit, there is always something exciting happening in the big city. "; %>
<% path = '..'; %>
<% uniqueCss = 'article-traditional-events' %>

<%- include('_common/header') %>

        </div><!-- .header-section end -->

        <article>
            <section class="parent-section">
                <h2 class="section-title">Spring</h2>
                <div class="event-list-container">
                    <ul class="event-list">
                        <li class="event-link">
                            <a class="spring-event-1" href="/single-event-page.html">
                                <p>Ishikiri-Tsurugiya Shrine　Spring Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-2" href="/single-event-page.html">
                                <p>Nakami Shrine Harumatsuri Nakami no Sato Spring Cultural Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-3" href="/single-event-page.html">
                                <p>Hiyoshi Shrine Ogomasaitou-gyoji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-4" href="/single-event-page.html">
                                <p>Osaka Temmangu Shrine Chinka-sai Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-5" href="/single-event-page.html">
                                <p>Sumiyoshi Taisha Matsunae-shinji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-6" href="/single-event-page.html">
                                <p>Plum Blossom Festival</p></a></li>
                    </ul>
                </div>
            </section>

            <section class="parent-section">
                <h2 class="section-title">Summer</h2>
                <div class="event-list-container">
                    <ul class="event-list">
                        <li class="event-link">
                            <a class="spring-event-1" href="/single-event-page.html">
                                <p>Ishikiri-Tsurugiya Shrine　Spring Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-2" href="/single-event-page.html">
                                <p>Nakami Shrine Harumatsuri Nakami no Sato Spring Cultural Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-3" href="/single-event-page.html">
                                <p>Hiyoshi Shrine Ogomasaitou-gyoji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-4" href="/single-event-page.html">
                                <p>Osaka Temmangu Shrine Chinka-sai Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-5" href="/single-event-page.html">
                                <p>Sumiyoshi Taisha Matsunae-shinji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-6" href="/single-event-page.html">
                                <p>Plum Blossom Festival</p></a></li>
                    </ul>
                </div>
            </section>

            <section class="parent-section">
                <h2 class="section-title">Autumn</h2>
                <div class="event-list-container">
                    <ul class="event-list">
                        <li class="event-link">
                            <a class="spring-event-1" href="/single-event-page.html">
                                <p>Ishikiri-Tsurugiya Shrine　Spring Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-2" href="/single-event-page.html">
                                <p>Nakami Shrine Harumatsuri Nakami no Sato Spring Cultural Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-3" href="/single-event-page.html">
                                <p>Hiyoshi Shrine Ogomasaitou-gyoji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-4" href="/single-event-page.html">
                                <p>Osaka Temmangu Shrine Chinka-sai Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-5" href="/single-event-page.html">
                                <p>Sumiyoshi Taisha Matsunae-shinji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-6" href="/single-event-page.html">
                                <p>Plum Blossom Festival</p></a></li>
                    </ul>
                </div>
            </section>

            <section class="parent-section">
                <h2 class="section-title">Winter</h2>
                <div class="event-list-container">
                    <ul class="event-list">
                        <li class="event-link">
                            <a class="spring-event-1" href="/single-event-page.html">
                                <p>Ishikiri-Tsurugiya Shrine　Spring Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-2" href="/single-event-page.html">
                                <p>Nakami Shrine Harumatsuri Nakami no Sato Spring Cultural Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-3" href="/single-event-page.html">
                                <p>Hiyoshi Shrine Ogomasaitou-gyoji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-4" href="/single-event-page.html">
                                <p>Osaka Temmangu Shrine Chinka-sai Festival</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-5" href="/single-event-page.html">
                                <p>Sumiyoshi Taisha Matsunae-shinji Ritual</p></a></li>
                        <li class="event-link">
                            <a class="spring-event-6" href="/single-event-page.html">
                                <p>Plum Blossom Festival</p></a></li>
                    </ul>
                </div>
            </section>
    </article>

<%- include('_common/footer') %>

