<% title = 'Where to Visit'; %>
<% description = "Osaka has many tourist spots, but we've collected the top of the list, such as Dotonbori, Osaka Castle, and the Kaiyukan Aquarium. "; %>
<% path = '..'; %>
<% uniqueCss = 'article-common' %>

<%- include('_common/header') %>

            <div class="thumbnail image-7"></div>
        </div><!-- .header-section end -->

        <article>
            <section class="parent-section">
                <h2 class="section-title">Historical Building</h2>
                <section class="child-section">
                    <h3>1. Osaka Castle Main Keep</h3>
                    <p>
                        An Osaka symbol standing 55 meters tall with 5 tiers and 8 interior floors, the main 
                        keep of Osaka Castle features dazzling gold ornamentation across its structure, 
                        including “fish tiger” shachihoko figurines on the topmost roof and prostrate tigers 
                        beneath its balustrades.
                    </p>
                    <img  class="section-image image-1" src="/asset/images/3.jpg" alt="">
                    <table>
                        <tbody>
                        <tr>
                            <th>Opening Hours</th>
                            <td>9:00 - 17:00 (admissions close 16:30; 
                                opening hours may extend seasonally)</td>
                        </tr>
                        <tr>
                            <th>Closed</th>
                            <td>New Year holidays (12/28 - 1/1)</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>〒 540-0002 1-1 Osakajo, Chuo-ku, Osaka</td>
                        </tr>
                        <tr>
                            <th>Direction</th>
                            <td>Roughly a 15- to 20-minute walk from 
                                Morinomiya or Osakajokoen Station on the   
                                JR Osaka Loop Line</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>Adults: ¥600
                                <br>
                                Children 14 and under, Osaka City 
                                residents 65+ (ID required), and persons 
                                with disabilities: free</td>
                        </tr>
                        <tr>
                            <th>Tel</th>
                            <td>06-6941-3044</td>
                        </tr>
                        <tr>
                            <th>Tour Guide</th>
                            <td>Rental audio guides available</td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>
                                <a href="http://www.osakacastle.net/english/">http://www.osakacastle.net/english/</a></td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section class="child-section">
                    <h3>2. Shitennoji Temple, Sohonzan, Washu</h3>
                    <p>
                        Founded 1,400 years ago by Prince Shotoku. The first Buddhist temple to receive national 
                        oversight and financial support from the nation. Shitennoji Temple also holds numerous 
                        national treasures and Important Cultural Properties among the relics from the time of 
                        its founding.
                    </p>
                    <img  class="section-image image-1" src="/asset/images/2.jpg" alt="">
                    <table>
                        <tbody>
                        <tr>
                            <th>Opening Hours</th>
                            <td>9:00 - 17:00 (admissions close 16:30; 
                                opening hours may extend seasonally)</td>
                        </tr>
                        <tr>
                            <th>Closed</th>
                            <td>New Year holidays (12/28 - 1/1)</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>〒 540-0002 1-1 Osakajo, Chuo-ku, Osaka</td>
                        </tr>
                        <tr>
                            <th>Direction</th>
                            <td>Roughly a 15- to 20-minute walk from 
                                Morinomiya or Osakajokoen Station on the   
                                JR Osaka Loop Line</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>Adults: ¥600
                                <br>
                                Children 14 and under, Osaka City 
                                residents 65+ (ID required), and persons 
                                with disabilities: free</td>
                        </tr>
                        <tr>
                            <th>Tel</th>
                            <td>06-6941-3044</td>
                        </tr>
                        <tr>
                            <th>Tour Guide</th>
                            <td>Rental audio guides available</td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>
                                <a href="http://www.osakacastle.net/english/">http://www.osakacastle.net/english/</a></td>
                        </tr>
                        </tbody>
                    </table>
                </section>

            </section>
    </article>

<%- include('_common/footer') %>

